.commentDiv {
    background-color: #a5cfa5;
    border-radius: 2rem;
    border: 5px solid #23504d;
    width: 45.3rem;
    margin-left: 2rem;
    display: grid;
    grid-template-rows: 4rem 1fr 1fr;
}

.sub-form-div {
    display: grid;
    grid-template-rows: 4rem 1fr 1fr;
    margin-left: -13rem;
}

.commentSectionDiv {
    border-radius: 2rem;
    width: 45rem;
}

.commentHeading {
    color: #ffffff;
}

.username-div-yup {
    width: 30rem;
    display: flex;
    float: left;
}

.comment-div-yup {
    width: 30rem;
    display: flex;
    float: left;
    margin-top: -4rem;
    margin-bottom: -2rem;
}

.buttonDiv {
    margin-top: -2rem;
    margin-left: -9rem;
}

.commentButton {
    margin-top: 3rem;
    border-radius: 2rem;
    width: 10rem;
}

.add-username-style {
    margin-left: 0.3rem;
}

.add-comment-style {
    margin-left: 0.5rem;
    width: 15rem;
}


.comment-div-style-yeah {
    /* display: flex; */
    float: right;
    border: 2px solid #23504d
}

.individual-comment {
    font-weight: 700;
    margin-top: -3rem;
    margin-bottom: -3rem;
    text-transform: lowercase;
    /* height: 2rem; */
}