
:root{
    --Green: #23504D; 
 --Olive: #568258;
 --lightGreen: #6F9B3C;
 --yellowGreen: #A5CF61;
 --Yellow: #E3E567;
 --White: #ffffff;
}
.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--Green);
  list-style-type: none;
  height: 60px;
  z-index: 10;
  width: 100%;
  position: fixed;
}

.navBar > .navUl {
    list-style-type: none;
    display: flex;
    align-items: space-evenly;
    flex-direction: row;
    /* padding: 10px 10px; */
    margin-top: -2rem;
}

.navLi{
    padding: 50px;
    color: var(--Yellow);
    font-weight: 700;
}

a{
    color: var(--White);
}

.logo{
    font-weight: 900;
    font-family: "Lucida Console"
}

/* .navBar {
    height: 2rem;
    border: 5px solid #ffffff;
}

.navLi {
    display:flex;
    justify-content: end;
    border: 5px solid #1b1a1a;

}
​
.navUl {
    border: 5px solid #ffffff;
    list-style: none;
    justify-content: space-between;
    border-bottom: 2px solid darkgreen;
    height: 5rem;
    margin-top: 1rem;
}
​
.logo-style {
    text-align: start;
    border: 5px solid #ffffff;
}
​
.nav-selected {
    color: #23504d;
    font-size: 30px;
    text-decoration: none;
    border: 5px solid #ffffff;
} */
