.mainCard-yup {
    top: 70px;
    position: relative;
}

.heading-div {
    color: #6f9b3c;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font: 26px;
    font-size: 46px;
}

.min-cards {
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    margin-left: -.60rem;
}


